$body-bg: #f4f4f4;
$body-color: #333;

$theme-colors: (
  "primary": #002880
);

$widths: (
  5: 5%,
  10: 10%,
  15: 15%,
  20: 20%,
  30: 30%,
  50: 50%,
  40: 40%,
  60: 60%,
  70: 70%,
  80: 80%
);

$font-sizes: (
  7: 0.9rem,
  8: 0.8rem,
  9: 0.7rem,
  10: 0.6rem,
  11: 0.5rem
);

$line-heights: (
  0: 0rem,
  1: 0.2rem,
  2: 0.87rem,
  3: 0.95rem
);
